.dropdown-component {
  margin-left: 8px;
  display: inline-flex !important;
  flex-direction: column !important;
}

.dropdown {
  border-radius: 3px;
  border-color: $border-gray;
  min-width: 200px;
  background-color: $white;
  color: rgba(0,0,0, 0.5);
  width: 25%;
  height: 38px;
  margin: auto;

  &:active, &:hover, &:focus {
    background-color: #E7F5FF;
    color: $black;
    border-color: $gray;
  }

}

.dropdown-option {
  min-width: 14.25rem !important;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  &:last-of-type {
    border-bottom: none;
  }

  &:active, &:hover, &:focus {
    background-color: #E7F5FF !important;
  }

  &:active {
    color: $black;
  }
}