@import '../../Themes/variables.scss';

.label {
  color: $gray;
}

#dropdownButton {
  border-radius: 3px;
  border-color: $border-gray;
  min-width: 200px;
  background-color: $white;
  color: rgba(0,0,0, 0.5);
  width: 25%;
  height: 38px;
  margin: auto;


  &:active, &:hover, &:focus {
    background-color: #E7F5FF;
    color: $black;
    border-color: $gray;
  }

}

.dropdown-toggle::after {
    margin-left: 75% !important;
    color: $black;
  }

.dropdown-menu {
  min-width: 14.25rem !important;

  .dropdown-item {
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    &:last-of-type {
      border-bottom: none;
    }

    &:active, &:hover, &:focus {
      background-color: #E7F5FF !important;
    }

    &:active {
      color: $black;
    }
  }
}



.dropdown-menu.show {
  padding-top: 0;
  padding-bottom: 0;
}