@import '../../Themes/variables.scss';

.header {
  background-color: $merck-teal;
  height: 195px;
  display: flex;
  color: $merck-off-white;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-left: 14px;
}

.header-title {
  color: #F7F7F7;
  font-size: 47px;
  font-weight: 500;
  letter-spacing: 0.23px;
  line-height: 55px;
  margin-left: 163px;
  flex-grow: 1;
  text-align: left;
  font-family: $roboto-label;
  font-weight: 700;
}

.header-country {
  margin-right: 14px;
}