@import '../../Themes/variables.scss';
.input-field {
    display: inline-flex;
    flex-direction: column;
    margin: 20px;

    .simple-input {
        height: 38px;
        border: 1px solid #B3B3B3;
        border-radius: 3px;
        color: #212121;
        padding-left: 16px;
        font-family: $roboto;
        
        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

        &:active, &:hover, &:focus, &:disabled {
            background-color: #E7F5FF;
        }

        &::placeholder {
            opacity: 0.5;
        }

        &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
            color: $gray;
        }

    }

    .input-label {
        font-family: $roboto-label;
        font-weight: 700 !important;
        text-align: left;
        padding: 8px 0;
    }
}