@import '../../Themes/variables.scss';

.navigation {
  display: flex;
  flex-direction: column;
  width: 342px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}

.navigation-option {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  border-bottom: 1px solid $gray;
  font-family: $roboto-label;
  font-weight: 700;

  &:hover {
    #Icon-Color, #path-1, #calendar, #clock, #Combined-Shape {
      fill: $black;
    }
  }
}

.icon {
  display: block;
  margin: auto;
  height: 72px;
  width: 72px;
}

.link {
  text-decoration: none;
  color: $gray;

  &:hover, &:focus {
    color: $black;
    text-decoration: underline;
  }
}

.active-navigation.link {
  background-color: $merck-teal;
  color: $white;

  #Icon-Color, #path-1, #calendar, #clock, #combined-shape {
    fill: $white;
  }

  &:hover {
    #Icon-Color, #path-1, #calendar, #clock, #combined-shape {
      fill: $white;
    }
  }

}