@import '../../Themes/variables.scss';

.navigation {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
}

.navigation-option {
  height: 186px;
  width: 342px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid $gray;
  font-family: $roboto-label;
  font-weight: 700;
  align-items: center;

  &:hover, &:focus {
    #Icon-Color, #path-1, #ic-graph-bar #Icon, #ic-report #Icon, #ic-clock #Icon, #Combined-Shape {
      fill: $black;
    }
  }
}

.icon {
  display: block;
  height: 76px;
  width: 76px;
}

.link {
  text-decoration: none;
  color: $gray;

  .dropdown, .caret-up {
    display: none;
  }

  &:hover, &:focus {
    color: $black;
    text-decoration: underline;
  }
}

.active-navigation.link {
  background-color: $merck-teal;
  color: $white;

  .caret-down {
    display: none;
  }
  
  .caret-up, .dropdown {
    display: block;
  }

  #Icon-Color, #path-1, #ic-graph-bar #Icon, #ic-report #Icon, #ic-clock #Icon, #Combined-Shape {
    fill: $white;
  }

  &:hover {
    #Icon-Color, #path-1, #ic-graph-bar #Icon, #ic-report #Icon, #ic-clock #Icon, #Combined-Shape {
      fill: $white;
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.active-navigation-dropdown {
  background-color: $white !important;
  color: $black !important;
}

.dropdown-link {
  text-decoration: none;
  color: $gray;
  background-color: $dropdown-background;
  border-bottom: 1px solid $gray;
  font-family: $roboto-label;
  font-weight: 700;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover, &:focus {
    color: $black;
    text-decoration: underline;
  }
}

.dropdown-icons {
  display: flex;
  margin-left: 32px;
}

.caret-up, .caret-down {
  height: 32px;
  width: 32px;
  margin-top: auto;
}