@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700");
.merck-icon {
  height: 24px;
  width: 24px;
  padding: 8px;
}

.nav-section {
  height: 342px;
  width: 186px;
}

.nav-icon {
  height: 76px;
  width: 76px;
}

@media only screen and (min-width: 3800px) {
  .merck-icon {
    height: 57px;
    width: 57px;
    padding: 19px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.navigation .card {
  border: none;
  border-radius: 0;
}

.navigation .card-header {
  padding: 0;
}

.navigation-option {
  height: 93px;
  width: 171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #808080;
  font-family: "Roboto Condensed", serif;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-option:hover #Icon-Color, .navigation-option:hover #path-1, .navigation-option:hover #ic-graph-bar #Icon, .navigation-option:hover #ic-report #Icon, .navigation-option:hover #ic-clock #Icon, .navigation-option:hover #Combined-Shape, .navigation-option:focus #Icon-Color, .navigation-option:focus #path-1, .navigation-option:focus #ic-graph-bar #Icon, .navigation-option:focus #ic-report #Icon, .navigation-option:focus #ic-clock #Icon, .navigation-option:focus #Combined-Shape {
  fill: #000000;
}

.icon {
  display: block;
  height: 32px;
  width: 32px;
}

.link {
  text-decoration: none;
  color: #808080;
}

.link .dropdown, .link .caret-up {
  display: none;
}

.link:hover, .link:focus {
  color: #000000;
  text-decoration: underline;
}

.active-navigation.link .navigation-option {
  background-color: #00857c;
  color: #FFFFFF;
}

.active-navigation.link #Icon-Color, .active-navigation.link #path-1, .active-navigation.link #ic-graph-bar #Icon, .active-navigation.link #ic-report #Icon, .active-navigation.link #ic-clock #Icon, .active-navigation.link #Combined-Shape {
  fill: #FFFFFF;
}

.active-navigation.link:hover #Icon-Color, .active-navigation.link:hover #path-1, .active-navigation.link:hover #ic-graph-bar #Icon, .active-navigation.link:hover #ic-report #Icon, .active-navigation.link:hover #ic-clock #Icon, .active-navigation.link:hover #Combined-Shape {
  fill: #FFFFFF;
}

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active-navigation-dropdown {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}

.dropdown-link {
  text-decoration: none;
  color: #808080;
  background-color: #DADADA;
  border-bottom: 1px solid #808080;
  font-family: "Roboto Condensed", serif;
  font-weight: 700;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown-link:hover, .dropdown-link:focus {
  color: #000000;
  text-decoration: underline;
}

.dropdown-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
}

.dropdown-open .caret-down {
  display: none;
}

.dropdown-open .caret-up, .dropdown-open .dropdown {
  display: block;
}

.caret-up, .caret-down {
  height: 16px;
  width: 16px;
  margin-top: auto;
}
/*# sourceMappingURL=Navigation.css.map */