@import '../../Themes/variables.scss';

.textarea-field {
    display: inline-flex;
    flex-direction: column;
    margin: 20px;

    .simple-input {
        height: 96px;
        border: 1px solid #B3B3B3;
        border-radius: 3px;
        color: #212121;
        padding: 8px;
        font-family: $roboto;

        &::placeholder {
            opacity: 0.5;
        }

        &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
            color: $gray;
        }
    }

    .input-label {
        font-family: $roboto-label;
        font-weight: 700 !important;
        text-align: left;
        padding: 8px 0;
    }

    
}