.search-field {
    .simple-input {
        background: url('./icons/ic-search.svg');
        background-color: $white;
        background-repeat: no-repeat;
        background-position: 5% 50%;
        background-size: 16px;
        padding-left: 32px;
    }
}