@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700");
.merck-icon {
  height: 24px;
  width: 24px;
  padding: 8px;
}

.nav-section {
  height: 342px;
  width: 186px;
}

.nav-icon {
  height: 76px;
  width: 76px;
}

@media only screen and (min-width: 3800px) {
  .merck-icon {
    height: 57px;
    width: 57px;
    padding: 19px;
  }
}

.label {
  color: #808080;
}

#dropdownButton {
  border-radius: 3px;
  border-color: #808080;
  min-width: 200px;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.5);
  width: 25%;
  height: 38px;
  margin: auto;
}

#dropdownButton:active, #dropdownButton:hover, #dropdownButton:focus {
  background-color: #E7F5FF;
  color: #000000;
  border-color: #808080;
}

.dropdown-toggle::after {
  margin-left: 75% !important;
  color: #000000;
}

.dropdown-menu {
  min-width: 14.25rem !important;
}

.dropdown-menu .dropdown-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item:last-of-type {
  border-bottom: none;
}

.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  background-color: #E7F5FF !important;
}

.dropdown-menu .dropdown-item:active {
  color: #000000;
}

.dropdown-menu.show {
  padding-top: 0;
  padding-bottom: 0;
}

.category-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.category-search .input-group {
  width: 70%;
  margin: auto;
}

.category-search .input-group .simple-input {
  height: 38px;
  border: 1px solid #B3B3B3;
  color: #212121;
  padding-left: 16px;
  font-family: "Roboto", serif;
  background: url("../../Icons/ic-search.svg");
  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-size: 16px;
  padding-left: 32px;
}

.category-search .input-group .simple-input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.category-search .input-group .simple-input::-webkit-input-placeholder {
  opacity: 0.5;
}

.category-search .input-group .simple-input:-ms-input-placeholder {
  opacity: 0.5;
}

.category-search .input-group .simple-input::-ms-input-placeholder {
  opacity: 0.5;
}

.category-search .input-group .simple-input::placeholder {
  opacity: 0.5;
}

.category-search .input-group .simple-input:active, .category-search .input-group .simple-input:hover, .category-search .input-group .simple-input:focus, .category-search .input-group .simple-input:disabled {
  background-color: #E7F5FF;
}

.category-search .input-group .simple-input:-ms-input-placeholder, .category-search .input-group .simple-input:-ms-input-placeholder, .category-search .input-group .simple-input::-ms-input-placeholder {
  color: #808080;
}

.category-search .input-group .simple-input::-ms-input-placeholder, .category-search .input-group .simple-input:-ms-input-placeholder, .category-search .input-group .simple-input::-ms-input-placeholder {
  color: #808080;
}

.category-search .input-group .simple-input::placeholder, .category-search .input-group .simple-input:-ms-input-placeholder, .category-search .input-group .simple-input::-ms-input-placeholder {
  color: #808080;
}

.category-search .input-group .input-label {
  font-family: "Roboto Condensed", serif;
  font-weight: 700 !important;
  text-align: left;
  padding: 8px 0;
  width: 100%;
}

.category-search .input-group #dropdownButton {
  border-color: #B3B3B3;
  border-left: none;
  height: 38px;
  min-width: 100px;
}

.category-search .input-group .dropdown-toggle::after {
  margin-left: 35% !important;
}
/*# sourceMappingURL=categorySearchField.css.map */